<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.caffeine.capin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".CapinApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Capin"
        android:usesCleartextTraffic="true">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity android:name=".mypage.ui.MyPageActivity"></activity>
        <activity android:name=".mypage.pin.MyPagePinDetailActivity" />
        <activity android:name=".mypage.ui.MyPageProfileEditActivity" />
        <activity android:name=".mypage.mycategory.MyPageCategoryEditActivity" />
        <activity android:name=".mypage.myreview.MyReviewImageActivity" />
        <activity android:name=".MainActivity"/>
        <activity android:name=".cafeti.ui.CoffeeTasteActivity" />
        <activity android:name=".cafeti.ui.CafeColorActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".cafeti.ui.CoffeeTasteActivity" />
        <activity android:name=".cafeti.ui.CafeColorActivity" />
        <activity android:name=".cafeti.ui.CafeStyleActivity" />
        <activity android:name=".cafeti.ui.CoffeeMenuActivity" />
        <activity android:name=".cafeti.CafetiActivity">

        </activity>
        <activity android:name=".cafeti.ui.CafetiResultActivity" />
        <activity android:name=".cafeti.ui.CoffeeMostActivity" />
        <activity android:name=".login.ui.FindPasswordActivity" />
        <activity android:name=".login.ui.LoginPwActivity" />
        <activity android:name=".login.ui.SignUpActivity" />
        <activity android:name=".login.ui.LoginActivity"></activity>
        <activity android:name=".login.ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".detail.CafeDetailsActivity" />
        <activity android:name=".review.write.ui.WriteReviewActivity">

        </activity>
        <activity android:name=".category.ui.SelectCategoryActivity"></activity>
        <activity android:name=".detail.menus.CafeMenusActivity" />
        <activity android:name=".review.all.AllCafeReviewsActivity" />
    </application>

</manifest>
