<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.caffeine.capin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".CapinApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Capin"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity android:name=".mypage.MyPageActivity"></activity>
        <activity android:name=".mypage.pin.MyPagePinDetailActivity" />
        <activity android:name=".mypage.MyPageProfileEditActivity" />
        <activity android:name=".mypage.mycategory.MyPageCategoryEditActivity" />
        <activity android:name=".MainActivity"/>


        <activity android:name=".cafeti.CoffeeTasteActivity" />
        <activity android:name=".cafeti.CafeColorActivity" />
        <activity android:name=".cafeti.CafeStyleActivity" />
        <activity android:name=".cafeti.CoffeeMenuActivity" />
        <activity android:name=".cafeti.CafetiActivity"/>


        <activity android:name=".cafeti.CafetiResultActivity" />
        <activity android:name=".cafeti.CoffeeMostActivity"></activity>
        <activity android:name=".login.FindPasswordActivity"></activity>
        <activity android:name=".login.LoginPwActivity"></activity>
        <activity android:name=".login.SignUpActivity" />
        <activity android:name=".login.LoginActivity" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
        <activity android:name=".login.SplashActivity" />
        <activity android:name=".detail.CafeDetailsActivity" />
        <activity android:name=".review.write.WriteReviewActivity"/>

        <activity android:name=".category.SelectCategoryActivity"></activity>
        <activity android:name=".detail.menus.CafeMenusActivity" />

    </application>

</manifest>